{% extends "::base.html.twig" %}
{% block content %}
    <div class="wrapper">
        <div class="">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h1 class="header-title">AAROGYA MED LLC <span class="text-capitalize">{{ name }}</span></h1>
                </div>
                <div class="panel-body container">
                    <div class="bs-callout bs-callout-info">
                        <p>AAROGYA MEDSURG LLC is a Pharmacy - Wholesalers licensed to practice in California. Our management team has a combined  years of commitment to quality, service and overall satisfaction within the pharmaceutical and manufacturing industries. Our staff has worked in all 50 states serving the WHOLESALE needs of both healthcare providers, employer health clinics and government facilities.</p>
                        <p>AAROGYA MEDSURG is a leading provider in the WHOLESALE pharmaceuticals industry offering a complete line of medications including scheduled medication AAROGYA MEDSURG is differentiated by its ability to provide its products to its customers.</p>
                        <p>We are dedicated to delivering the highest levels of satisfaction in the implementation and ongoing support of our solutions. By leveraging our expertise in wholesale, we are able to cost effectively offer unique products and solutions that are cost effective and scalable to support customer needs. Our inventory management system tracks products and is able to fill an order based on expiration date. Products will only be shipped if they have at least six months of expiration, so the customer has sufficient time to dispense and the patient has sufficient time to finish the medication.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}