{% extends '::base.html.twig' %}
{% block content %}
    <div class="wrapper">
        <div class="wrapper">
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h1 class="header-title">AAROGYA MED LLC <span>{{ name }}</span></h1>
                    </div>
                    <div class="panel-body container">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img alt="100%x200" data-src="holder.js/100%x200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKTO4taj282ptFp7RI4Ux-_laLY_e4TTDzfKmm8QkBG7r6Yvam" data-holder-rendered="true" style=" display: block;">
                                <div class="caption">
                                    <h3>1. Injectables</h3>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                    </p>
                                    {#<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> #}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}