{% extends '::base.html.twig' %}
{% block content %}
    <div class="wrapper">
        <div class="wrapper">
            <div class="">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h1 class="header-title">AAROGYA MED LLC <span>{{ name }}</span></h1>
                    </div>
                    <div class="panel-body container">
                        <div class="col-md-12">

                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail page-cart">
                                    {#<img alt="100%x200" data-src="holder.js/100%x200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKTO4taj282ptFp7RI4Ux-_laLY_e4TTDzfKmm8QkBG7r6Yvam" data-holder-rendered="true" style=" display: block;">#}
                                    <div class="caption">
                                        <h3>1. Injectables</h3>
                                        <p>It is a long established fact that a reader will be distracted by the readable
                                            content of a page when looking at its layout. The point of using Lorem Ipsum is
                                            that it has a more-or-less normal distribution of letters, as opposed to using
                                            'Content here, content here', making it look like readable English. Many desktop
                                            publishing packages and web page editors now use Lorem Ipsum as their default
                                            model text, and a search for 'lorem ipsum' will uncover many web sites still in
                                            their infancy. Various versions have evolved over the years, sometimes by
                                            accident, sometimes on purpose (injected humour and the like).</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail page-cart">
                                    {#<img alt="100%x200" data-src="holder.js/100%x200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKTO4taj282ptFp7RI4Ux-_laLY_e4TTDzfKmm8QkBG7r6Yvam" data-holder-rendered="true" style=" display: block;">#}
                                    <div class="caption">
                                        <h3>2. Gels/ Lotions</h3>
                                        <p>A cream is a topical preparation usually for application to the skin. Creams for
                                            application to mucous membranes such as those of the rectum or vagina are also
                                            used. Creams may be considered pharmaceutical products as even cosmetic creams
                                            are based on techniques developed by pharmacy and unmedicated creams are highly
                                            used in a variety of skin conditions (dermatoses). The use of the Finger tip
                                            unit concept may be helpful in guiding how much topical cream is required to
                                            cover different areas.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail page-cart">
                                    {#<img alt="100%x200" data-src="holder.js/100%x200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKTO4taj282ptFp7RI4Ux-_laLY_e4TTDzfKmm8QkBG7r6Yvam" data-holder-rendered="true" style=" display: block;">#}
                                    <div class="caption">
                                        <h3>3. Compounding APIs</h3>
                                        <p>Several studies, including a survey conducted by FDA in 2001, have reported
                                            quality problems with various pharmacy-compounded drugs, including sub-potency,
                                            super-potency, and contamination. To explore these quality issues, FDA conducted
                                            an additional survey of compounded drug products in 2006. FDA collected both
                                            active pharmaceutical ingredient (API) and finished compounded drug product
                                            samples during unannounced visits to compounding pharmacies located throughout
                                            the country. </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail page-cart">
                                    {#<img alt="100%x200" data-src="holder.js/100%x200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKTO4taj282ptFp7RI4Ux-_laLY_e4TTDzfKmm8QkBG7r6Yvam" data-holder-rendered="true" style=" display: block;">#}
                                    <div class="caption">
                                        <h3>4. Tablets and Capsules</h3>
                                        <p>A tablet is a pharmaceutical dosage form. Tablets may be defined as the solid unit dosage form of medicament or medicaments with or without suitable excipients and prepared either by molding or by compression. It comprises a mixture of active substances and excipients, usually in powder form, pressed or compacted from a powder into a solid dose. The excipients can include diluents, binders or granulating agents, glidants (flow aids) and lubricants to ensure efficient tabletting; disintegrants to promote tablet break-up in the digestive tract; sweeteners or flavours to enhance taste; and pigments to make the tablets visually attractive or aid in visual identification of an unknown tablet</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail page-cart">
                                    {#<img alt="100%x200" data-src="holder.js/100%x200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKTO4taj282ptFp7RI4Ux-_laLY_e4TTDzfKmm8QkBG7r6Yvam" data-holder-rendered="true" style=" display: block;">#}
                                    <div class="caption">
                                        <h3>5. Ointments and Creams</h3>
                                        <p>Creams are semi-solid emulsions of oil and water. They are divided into two types: oil-in-water (O/W) creams which are composed of small droplets of oil dispersed in a continuous phase, and water-in-oil (W/O) creams which are composed of small droplets of water dispersed in a continuous oily phase. Oil-in-water creams are more comfortable and cosmetically acceptable as they are less greasy and more easily washed off using water.Creams are semisolid dosage forms containing one or more drug substances dissolved or dispersed in a suitable base.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail page-cart">
                                    {#<img alt="100%x200" data-src="holder.js/100%x200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKTO4taj282ptFp7RI4Ux-_laLY_e4TTDzfKmm8QkBG7r6Yvam" data-holder-rendered="true" style=" display: block;">#}
                                    <div class="caption">
                                        <h3>6. Ophthalmic and Otics</h3>
                                        <p>Ophthalmology (/ˌɒfθɑːlˈmɑːlədʒi/ or /ˌɒpθɑːlˈmɒlədʒi/)[1] is the branch of medicine that deals with the anatomy, physiology and diseases of the eyeball.[2] An ophthalmologist is a specialist in medical and surgical eye problems. Since ophthalmologists perform operations on eyes, they are both surgical and medical specialists. A multitude of diseases and conditions can be diagnosed from the eye.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}