{% extends "::base.html.twig" %}
{% block content %}
    <div class="wrapper">
        <div class="wrapper">
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h1 class="header-title">AAROGYA MED LLC <span>{{ name }}</span></h1>
                    </div>
                    <div class="panel-body container">
                        {#<p>For the past  years, we've served as a top pharmaceutical wholesaler, leading the way in our industry with products of the highest quality, offering low prices, while never sacrificing our unique personal approach in servicing our client accounts.</p>
                        <p><span class="title">AAROGYA MED </span>sources and carries a full line of generic and brand name pharmaceutical products including tablets, capsules, creams, ointments, liquids, vaccines, and injectables that are ready for immediate delivery coast-to-coast in the U.S.A.
                        </p>
                        <h2>Our Benefits To You </h2>
                        <p>Personal Assistance with Your Own Representative
                            Lowest Prices – Always – Meeting or Beating Competitor Pricing
                            Same Day Shipping on Orders by 2:30 PM PST
                            No Minimum Order.
                        </p>
                        <p>
                            Browse our full selection of wholesale medical products & equipment supplies or for more information about our vendor-featured medical products and equipment supplies, pharmaceuticals, vaccines, and new RX products.
                        </p>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}