{% extends "::base.html.twig" %}
{% block content %}
    <div class="wrapper">
        <div class="">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h1 class="header-title">AAROGYA MED LLC <span class="text-capitalize">{{ name }}</span></h1>
                </div>
                <div class="panel-body container">
                    <div class="bs-callout bs-callout-info">
                        <ol>
                            <li>No Contracts!</li>
                            <li>Competitive Pricing</li>
                            <li>Monthly/Daily Specials</li>
                            <li>Hassle Free Return Policy</li>
                            <li>Customer-Focused Approach</li>
                            <li>Free Shipping (orders of $125 or more)</li>
                            <li>Orders by  Online, Fax, or Email</li>
                            <li>Stock of more than 2,000 Pharmaceutical Products</li>
                            <li>Industry leading Services, Shortages, Price Erosion</li>
                            <li>Great Savings on Short Date Items and Close-out Items</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}