{% extends "::base.html.twig" %}
{% block content %}
        <div class="wrapper">
            <div class="">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h1 class="header-title">AAROGYA MED LLC <span>{{ name }}</span></h1>
                    </div>
                    <div class="panel-body container">
                       <b>AAROGYA MEDSURG (AAMED)</b>
                        <p>
                        AAMED is a privately owned specialty pharmaceutical distributor based in Rancho Cucamonga,
                        California, which is in San Bernardino about halfway between Los Angeles and San Diego.
                        AAMED is licensed as a pharmaceutical wholesaler by the California Board of Pharmacy with a
                        sales and marketing emphasis in plasma derivatives, acute care pharmaceuticals and unique
                        products for on-site drug testing</p>
                        <p>AAMED has experienced phenomenal growth through it’s commitment to providing products and
                        services quickly, safely and dependably. AAMED relies on it’s unparalleled customer service to
                        distribute it’s products nationwide to a broad customer base including: hospitals, pharmacies,
                        clinics, surgery centers, and wholesalers. AAMED specializes in sourcing hard to find products
                        through our extensive list of suppliers.</p>
                        <span>Call AAMED for all of your pharmaceutical needs; we look forward to hearing from you soon.</span>
                        <ul>
                            <li>
                                AAROGYA MEDSURG is licensed by the FDA & DEA.
                            </li>
                            <li>Physician dispensing is supported by the American Medical Association.
                            </li>
                            <li>Practice Differentiation
                            </li>
                            <li>Physician dispensing is regulated at the state level by the state board of pharmacy.
                            </li>
                        </ul>
                        <b>Patient Convenience:</b>
                        <p>Point-of-care dispensing increases patient convenience since they do not have to travel and wait
                        for medications at a pharmacy.</p>
                        <p><span>Patient Compliance:</span>
                        Research suggests that just 60% of doctor prescriptions are filled when the patient uses a
                        traditional pharmacy. Patient compliance is closer to 100% with Point-of-care dispensing.</p>
                        <p><span>Additional Revenue:</span>
                        Point-of-care dispensing creates an additional revenue stream for the clinic.</p>
                        <p><span>Reduced Workload & Time:</span>
                        By having medications on-site, practices are able to reduce the number of calls they make and
                        receive from pharmacies.</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}