{% extends "::base.html.twig" %}
{% block content %}
        <div class="wrapper">
            <div class="">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h1 class="header-title">AAROGYA MED LLC <span class="text-capitalize">{{ name }}</span></h1>
                    </div>
                    <div class="panel-body container">
                        <div class="bs-callout bs-callout-info">
                            <b>AAROGYA MEDSURG (AAMED)</b>
                            <p><b>AAMED</b> is a privately owned specialty pharmaceutical distributor based in Rancho Cucamonga, California, which is in San Bernardino about halfway between Los Angeles and San Diego.</p>
                            <p><b>AAMED</b> is licensed as a pharmaceutical wholesaler by the California Board of Pharmacy.</p>
                            <p><b>AAMED</b> has experienced phenomenal growth through it’s commitment to providing products and services quickly, safely and dependably. AAMED relies on it’s unparalleled customer service to distribute it’s products nationwide to a broad customer base including: hospitals, pharmacies, clinics, surgery centers, and wholesalers. AAMED specializes in sourcing hard to find products through our extensive list of suppliers.</p>
                            <span>Call AAMED for all of your pharmaceutical needs; we look forward to hearing from you soon.</span>
                            <ol>
                                <li>AAROGYA MEDSURG is licensed by the FDA.</li>
                                <li>Physician dispensing is supported by the American Medical Association.</li>
                                <li>Practice Differentiation</li>
                                <li>Physician dispensing is regulated at the state level by the state board of pharmacy.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}