{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
    <a href="{{ path('credit-application', {'userSettId':object.id}) }}" target="_blank" class="btn btn-default calculate_link" title="{{ 'action_calculate'|trans({}, 'SonataAdminBundle') }}">
        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Download
    </a>
{% endif %}