{% extends '::base.html.twig' %}

{% block content %}
<div class="row">
    {#{{ grid_search(grid) }}#}
    {#{{ grid_cell('APYDataGridBundle::blocks.html.twig', {id:'myTypedColumn'}, 1, grid) }}#}
    {{ grid(grid, 'APYDataGridBundle::blocks.html.twig') }}

</div>
{% endblock content %}

{% block stylesheets %}
        {{ parent() }}
{% endblock %}