{% extends '::base.html.twig' %}

{% block content %}
<div class="row">
    {{ t }}
</div>
    {#{{ grid(grid) }}#}
{% endblock content %}

{% block stylesheets %}
        {{ parent() }}
{% endblock %}