{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        {{ dump(product) }}
        {#{{ grid_cell('APYDataGridBundle::blocks.html.twig', {id:'myTypedColumn'}, 1, grid) }}#}
        {#{{ grid(grid, 'APYDataGridBundle::blocks.html.twig') }}#}

    </div>
{% endblock content %}